@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    box-sizing: border-box;
}

.container{
    width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    background: #302C42;
}
.header-cont{
    padding: 50px 100px;
    background: #302C42;
}
.menu{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.nav{
    width: 286px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav a{
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #FFFFFF;
}
.join-us{
    display: flex;
}
.btn{
    width: 150px;
    height: 50px;
    background: transparent;
    border: 2px white solid;
    border-radius: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}
.hydra{
    border: none;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    border-radius: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    
    color: #343045;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.text p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 56px;
    color: white;
}
.span{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 56px;
    /* identical to box height */
    
    
    background: linear-gradient(91.57deg, #C0B7E8 -1.02%, #8176AF 36.25%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
#pp{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    
    color: #FFFFFF;
}
.Z{
    width: 250px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    
    color: #343045;
}
.contact-us{
    width: 1220px;
    height: 167px;
    background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;
    box-shadow: 0px 4px 4px rgba(192, 183, 232, 0.01);
    border-radius: 90px;
}
.contact-list{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.contact-way{
    display: flex;
    align-items: center;
    padding: 0 40px;
    
}
.contact-h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    
    color: #FFFFFF;
}
.contact-p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}
.Introduction-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#h3-36px700{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}
#h3-36px300{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}
.AboutHydra{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.X{
    width: 214px;
    height: 48px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    
    color: #343045;
}
.WhyHydra-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.WhyHydra-list{
    width: 1300px;
    height: 511px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
}
.WhyHydra-item{
    width: 310px;
    height: 511px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
    border-radius: 40px;
}
#h4-WhyyHydra{
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    
        color: #FFFFFF;
}
#p-WhyHydra{
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
    
        color: #FFFFFF;
}